<% unless sidebar.pages.blank? -%>
<div>
    <ul>
        <% for page in sidebar.pages -%>
            <li>
				<%= link_to page.title, page.permalink_url %>
            </li>
        <% end %>
    </ul>
</div>
<% end %>
